.box-wrap{
    background-color: rgb(251, 231, 251);;
}
.aboutHeading{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: purple;
}

.wwhw{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size:40px;
    color: purple;
}

.desc{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 28px;
    color: black;
}

