body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: bold;
}

.footer {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

.navbar {
  text-align: center;
  text-decoration: none;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar ul a {
  text-decoration: none;
}

h1 {
  font-size: 60px;
}
